* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(26, 26, 26);
  color: white;
}
p {
  font-family: "Space Mono", monospace;
  line-height: 25px;
  font-size: 17px;
}
span {
  color: greenyellow;
}
.navBar {
  background-color: rgb(26, 26, 26);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: rgb(149, 236, 18) solid 2px;
}
.navText {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navIcons i {
  color: white;
  font-size: 35px;
}
h1 {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 45px;
}

.navBar a {
  font-family: "Space Mono", monospace;
  transition: 0.3s ease-in-out;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  gap: 10px;
}
img {
  width: 500px;
}

.hero {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.curriculum {
  backdrop-filter: blur(6px);

  padding: 18px;
  background-color: rgba(187, 187, 187, 0);
  color: white;
  border: solid white;
  border-radius: 30px;
  margin-top: 10px;
}

/* escritura */
.wrapper {
  height: 4vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 31ch;
  animation: typing 2s steps(24), blink 0.7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}
#about {
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#about h1 {
  text-align: center;
}
#about p {
  margin: 0;
  width: 50%;
}
#about div{
  justify-content: center;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  
}
#about img{
  border-radius: 500px;
  width: 200px
  
} 


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.navBar i:hover {
  color: greenyellow;
}
.navBar a:hover {
  color: greenyellow;
}

@media (max-width: 927px) {
  .mainText {
    /* padding-top: 50px; */
    margin-top: 55px;
    align-items: center;
    text-align: center;

    width: 90%;
  }
  h1 {
    font-size: 35px;
    margin: 0;
  }

  .navText {
    flex-direction: column;
    text-align: center;
  }
  .navBar {
    flex-direction: column;
    gap: 30px;
    background-color: greenyellow;
  }
  .hero {
    flex-direction: column;
    margin-top: 0;
    gap: 30px;
  }
  img {
    width: 100%;
  }
  .navText h1 {
    font-size: 20px;
  }
  #about {
    margin-top: 90px;
  }
  #about p {
    margin: 0;
    width: 80%;
  }
  .navBar a {
    color: black;
  }
  .navBar i {
    color: black;
  }
  .navBar a:hover {
    color: rgb(255, 255, 255);
  }
  .navBar i:hover {
    color: rgb(255, 255, 255);
  }
  #about img{
    margin-top: 30px;
    width: 170px
  } 
}
