* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
hr {
  margin-top: 200px;
}

body {
  background-color: rgb(39, 39, 39);
  color: white;
}
p {
  font-family: "Space Mono", monospace;
  line-height: 25px;
  font-size: 17px;
}
span {
  color: greenyellow;
}
.navBar {
  background-color: rgb(24, 24, 24);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: rgb(149, 236, 18) solid 2px;
}
.navText {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navIcons i {
  color: white;
  font-size: 35px;
  transition: 0.3s;
  padding: 10px;
}
h1 {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 45px;
}
h2 {
  font-family: "Space Mono", monospace;
}

.navBar a {
  font-family: "Space Mono", monospace;
  transition: 0.3s ease-in-out;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  gap: 10px;
}
img {
  width: 500px;
}

.hero {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.curriculum {
  backdrop-filter: blur(6px);

  padding: 18px;
  background-color: rgb(24, 24, 24);
  color: white;
  border: solid white;
  border-radius: 30px;
  margin-top: 10px;
}

/* escritura */
.wrapper {
  height: 4vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 31ch;
  animation: typing 2s steps(24), blink 0.7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}
#about {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titles {
  text-align: center;
  margin-top: 50px;

  border-bottom: greenyellow solid 3px;
}
#about p {
  margin: 0;
  width: 50%;
}
#about div {
  justify-content: center;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
#about img {
  border-radius: 500px;
  width: 200px;
}
#skills {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#skills p {
  width: 50%;
  margin: auto;
}

.mySkills {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  flex-direction: row;
}
.fa-html5 {
  color: #e44d25;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-js {
  color: #f7e018;
}
.fa-php {
  color: #8993be;
}
.fa-sass {
  color: #d56ea3;
}
.fa-git-alt {
  color: #f34f29;
}
.html,
.js,
.css,
.php,
.sass,
.git {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects h1 {
  margin-bottom: 40px;
}
.myProjecs {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 90%;
}
.page img {
  width: 500;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.navBar i:hover {
  color: greenyellow;
}
.navBar a:hover {
  color: greenyellow;
}

@media (max-width: 927px) {
  .mainText {
    /* padding-top: 50px; */
    margin-top: 55px;
    align-items: center;
    text-align: center;

    width: 90%;
  }
  h1 {
    font-size: 35px;
    margin: 0;
  }

  .navText {
    flex-direction: column;
    text-align: center;
  }
  .navBar {
    flex-direction: column;
    gap: 30px;
    background-color: greenyellow;
  }
  .hero {
    flex-direction: column;
    margin-top: 0;
    gap: 30px;
  }
  .computerImage img {
    width: 100%;
  }
  .navText h1 {
    font-size: 20px;
  }
  #about {
    margin-top: 90px;
  }
  #about p {
    margin: 0;
    width: 80%;
  }
  .navBar a {
    color: black;
  }
  .navBar i {
    color: black;
  }
  .navBar a:hover {
    color: rgb(255, 255, 255);
  }
  .navBar i:hover {
    color: rgb(255, 255, 255);
  }
  #about img {
    margin-top: 30px;
    width: 170px;
  }
  .mySkills {
    flex-direction: column;
    gap: 30px;
  }
  #skills {
    margin-top: 90px;
  }
  .myProjecs {
    flex-wrap: wrap;
  }
  .page img {
    width: 100%;
  }
  .myProjecs {
    width: 80%;
  }
  #projects {
    margin-top: 90px;
  }
}
/* button up */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: greenyellow;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#myBtn i {
  color: black;
}
